body{
	background-color: #0C0032;
}
.none_trues{
    font-size:100px;
    position:center;
    align:center;
}
/* навигация */
/* Стили ссылок в системе навигации */
#mySidenav a {
  position: fixed;
  position: absolute; /* Позиция относительно окна браузера */
  transition: 0.3s; /* Добавляем трансформацию при наведении */
  padding: 15px; /* Отступы 15px */
  width: 120px; /* Задаем ширину */
  text-decoration: none; /* Убираем подчеркивание */

  font-size: 14px; /* Размер шрифта */
  color: color:  #190061;; /* Белый цвет текста */
  border-radius: 0 5px 5px 0; /* Закругленные углы в верхней и нижней части справа */
}

#mySidenav a:hover {
  left: 0;
}

#tonplace {
  position: fixed;
  bottom: 10px;
  background-color: #E5BE01;
  left: -90px; /* Позиция на экране */
}

#vk {
  position: fixed;
  bottom: 90px;
  background-color: #FAD201;
  left: -100px; /* Позиция на экране */
}

#about{
  position: fixed;
  bottom: 150px;
  background-color: #F7F21A;
  left: -110px; /* Позиция на экране */
}

#vk_2{
	display: none;
}
#clock{
  perspective: 1px;
  position: absolute;
  left:78%;
  top:88%;
  color: fuchsia;
  font-size: 30px;
  display: block;
  margin: auto;
  padding: 1px 60px;
  text-decoration: none;
  border: 1px solid fuchsia;
  box-shadow:0 0 10px fuchsia;
  transform:rotateZ(-1deg);
  transform-style: preserve-3d;
  transition: 0.5s;
  position: fixed;
}

#clock:hover{
    transition: 0.5s;
    cursor: pointer;
  font-size: 40px;
    transform: translateZ(10px);
  color: aqua;
    border: 1px solid auqa;
  box-shadow:0 0 10px aqua;
    z-index: 1;
}
/* Шапка */
.bright_it {
	transition: 0.2s linear;
}
.bright_it:hover{
	filter: brightness(60%)
}
.header {
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;
  border-radius: 12px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.a_prof{
	 border-radius: 100px;
	 width: 30px;
	 height: 30px;
}




.header a.active {
  background-color: dodgerblue;
  color: white;
}


.header-right {
  float: right;
}

/* Neontext */
.sign-wrap-2 {
    text-align: center;
    padding: 20px 10px;
}
.sign-wrap-2 .sign_word {
    font-size: 60px;
  	font-weight: bold;
  	font-family: 'Square Peg', cursive;
    line-height: 15px;
    color: #FFF;
    text-transform: uppercase;
    animation: 2s neon-2 alternate-reverse infinite;

   }
@keyframes neon-2 {
    from {
        text-shadow: 0 0 5px #3500D3,
        0 0 10px #3500D3,
        0 0 15px #3500D3,
        0 0 20px #3500D3;
    }
    to {
        text-shadow: 0 0 20px #3500D3,
        0 0 35px #3500D3,
        0 0 40px #3500D3,
        0 0 50px #3500D3,
        0 0 500px #3500D3;
    }
}   
/* подстройка под разрешение */
@media screen and (max-width: 650px) {
  .header a {
    float: none;
    display: block;
    text-align: left;

  }

.header-right{
	vertical-align: text-top;
}
#about {
  display: none;
}

#tonplace {
  display: none;
}

#vk {
  display: none;
}

#tiktok {
  display: none;
}
#vk_2{
	display: block;
	bottom: 20px;
	left: 0;
}
#clock{
    display: none;
}
#vk_2 img{
	width: 50px;
	height: 50px;
	border-radius: 60px;
	position:fixed;
}
}

/* формы */

/* Стили метки, расположенной рядом с полем ввода */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Стили кнопки отправки данных */
input[type=submit] {
  background-color: #3500D3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  transition: 0.2s linear;
}
input[type=submit]:hover {
  filter: brightness(60%)
}
input[type=text], [type=email], [type=password], [type="text"]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Стили контейнера */
.container {
  width:50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #240090;
  padding: 20px;
  margin-top: 10px;
}

/* Обтекающая колонка для меток: 25% ширины */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  padding:10px;
}

/* Обтекающая колонка для полей ввода: 75% ширины */
.col-75 {
  float: left;
  width: 90%;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  margin-top: 6px;
  padding:10px;
  border-radius:10px;

}
.col-75 p{
font-size:30px;
line-height: 25px;
border-radius: 4px;
color:white;
text-align:center;
font-family: 'Oswald', sans-serif;
}
.pp{
font-size:15px;
line-height: 25px;
border-radius: 4px;
color:white;
text-align:left;
margin-left:10px;
font-family: 'Oswald', sans-serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Адаптивная разметка — когда ширина экрана становится меньше 600px,
делаем так, чтобы две колонки складывались друг над другом, а не рядом
друг с другом */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


* {
  box-sizing: border-box;
}


.bodys {
  display: grid;
  place-items: center;
  overflow: hidden;
}


.deal-wheel {
  --size: clamp(250px, 80vmin, 380px);
  --lg-hs: 0 3%;
  --lg-stop: 50%;
  --lg: linear-gradient(
      hsl(var(--lg-hs) 0%) 0 var(--lg-stop),
      hsl(var(--lg-hs) 20%) var(--lg-stop) 100%
    );
  position: relative;
  display: grid;
  grid-gap: calc(var(--size) / 20);
  align-items: center;
  grid-template-areas:
    "spinner"
    "trigger";
  font-size: calc(var(--size) / 21);
}

.deal-wheel > * {
  grid-area: spinner;
}


.deal-wheel .btn-spin {
  grid-area: trigger;
  justify-self: center;
}

.spinner {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-areas: "spinner";
  width: var(--size);
  height: var(--size);
  transform: rotate(calc(var(--rotate, 25) * 1deg));
  border-radius: 50%;
}

.spinner * {
  grid-area: spinner;
}

.prize {
  display: flex;
  align-items: center;
  padding: 0 calc(var(--size) / 6) 0 calc(var(--size) / 20);
  width: 50%;
  height: 50%;
  transform-origin: center right;
  transform: rotate(var(--rotate));
  user-select: none;
}

.ticker {
  position: relative;
  left: calc(var(--size) / -15);
  width: calc(var(--size) / 10);
  height: calc(var(--size) / 20);
  background: var(--lg);
  z-index: 1;
  clip-path: polygon(20% 0, 100% 50%, 20% 100%, 0% 50%);
  transform-origin: center left;
}

.btn-spin {
  color: white;
  background: black;
  border: none;
  font-size: inherit;
  padding: 0.9rem 2rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-spin:disabled {
  cursor: progress;
  opacity: 0.25;
}

.is-spinning .spinner {
  transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
}

.is-spinning .ticker {
          animation: tick 700ms cubic-bezier(0.34, 1.56, 0.64, 1);
}


@keyframes tick {
  40% {
    transform: rotate(-12deg);
  }
}

.prize.selected .text {
  color: white;
  animation: selected 800ms ease;
}


@keyframes selected {
  25% {
    transform: scale(1.25);
    text-shadow: 1vmin 1vmin 0 hsla(0 0% 0% / 0.1);
  }
  40% {
    transform: scale(0.92);
    text-shadow: 0 0 0 hsla(0 0% 0% / 0.2);
  }
  60% {
    transform: scale(1.02);
    text-shadow: 0.5vmin 0.5vmin 0 hsla(0 0% 0% / 0.1);
  }
  75% {
    transform: scale(0.98);
  }
  85% {
    transform: scale(1);
  }
}
