<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap" rel="stylesheet">
	<title>Document</title>
</head>
<body>
	<div class="header">
		<div class="sign-wrap-2">
    		<a href="/"class="sign_word" >TLUCK</a>
			<script src="{{ url_for("static", filename="scripts/animated.js") }}" async></script>
			<span id="clock"></span>
		</div>

	  	<div class="header-right">
		    {%if USER_IN%}
				<a href='/profile'><img src="{{ url_for('static', filename='img/1.png') }}" class="a_prof bright_it" alt="ERROR"></a>
				<a href="/quit" class="bright_it">Выйти</a>
			{%else%}
				<a href="/signin" class="bright_it">Войти</a>
				<a href="/signup" class="bright_it">Регистрация</a>
			{%endif%}
	  	</div>
	</div>

	{%block content%}{%endblock%}
	<div id="mySidenav" class="sidenav">
	  <a href="#" id="about">About</a>
	  <a href="#" id="vk">VK</a>
	  <a href="https://ton.place/id163172?ref=27d64" id="tonplace">TonPlace referal</a>
		<a href="#" id="vk_2"><img src="{{ url_for('static', filename='img/logo_vk.png') }}"  alt="ERROR"></a>
	</div>
</body>
</html>