<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
	<title>TLuck</title>
</head>
<body>
	{% extends "base.html" %}
	{%block content%}
	{%if trues is none%}
	    <p class="none_trues">Колесо появяться после заполнения поля</p>
    {%else%}
		<div class="bodys">
			<div class="deal-wheel">
			<ul class="spinner"></ul>
			<div class="ticker"></div>
			<button class="btn-spin">Spin!</button>
			</div>

			<script type="text/javascript">
				const prizes = [
				  {
					text: "{{code[0]}}({{events[0] * 100}}%)",
					color: "hsl(232, 85%, 67%)",
					chance: {{events[0]}}
				  },
				  {
					text: "{{code[1]}}({{events[1] * 100}}%)",
					color: "hsl(232, 85%, 67%)",
					chance: {{events[1]}}
				  },
				  {
					text: "{{code[2]}}({{events[2] * 100}}%)",
					color: "hsl(232, 85%, 67%)",
					chance: {{events[2]}}
				  }
				];
			</script>
			<script  src="{{ url_for("static", filename="scripts/script.js") }}"></script>
		</div>
    {%endif%}
	{%endblock%}
</body>
</html>