<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
	<title>TLuck</title>
</head>
<body>
	{% extends "base.html" %}
	{%block content%}
	<div class="bodys">
		<div class="deal-wheel">
		<ul class="spinner"></ul>
		<div class="ticker"></div>
		<button class="btn-spin">Spin!</button>
		</div>
		<script type="text/javascript">
			  const prizes = [
			  {
				text: "{{code[0]}}"+"({{chance[0]}}%)",
				color: "hsl(255, 100%, 41%)",
				chance: chance: {{chance[0]}}
			  },
			  {
				text: "{{code[1]}}"+"({{chance[1]}}%)",
				color: "hsl(255, 100%, 41%)",
				chance: chance: {{chance[1]}}
			  },
			  {
				text: "{{code[2]}}+"({{chance[2]}}%)"",
				color: "hsl(255, 100%, 41%)",
				chance: {{chance[2]}}
			  },

			];
        </script>
		<script  src="{{ url_for("static", filename="scripts/script.js") }}"></script>
	</div>
	{%endblock%}
</body>
</html>