<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Square+Peg&display=swap" rel="stylesheet">
	<title>Регистрация</title>
</head>
<body>
	{% extends "base.html" %}
	{%block content%}
	<div class="container">
		<form action="" method="post">
			{{form.hidden_tag()}}
			<div class="row">
				<div class="col-75">
					<p>Регистрация</p>
				</div>
			</div>


			<div class="row">
				<div class="col-25">
				{{form.email.title}}
				</div>
				<div class="col-75">
				{{form.email(type="email",placeholder="Логин")}}
				</div>
			</div>
			<div class="row">
				<div class="col-25">
				{{form.password.title}}
				</div>
				<div class="col-75">
				{{form.password(type="password",placeholder="Пароль")}}
				</div>


			</div>
			<div class="row">
				<div class="col-25">
				{{form.password_2.title}}
				</div>
				<div class="col-75">
				{{form.password_2(type="password",placeholder="Повтор пароля")}}
				</div>


			</div>
			<div class="row">
			{{ form.submit(type="submit") }}
			</div>
			<div class="row">
			{{message}}
		</div>
		</form>
	</div>
	{%endblock%}
</body>
</html>